.img1 , .img2, .img3
{
    width: 90%;
    height: 300px;
    margin-left: 50px;
    padding-top: 20px;
}
h1{
    font-size: 2.3em;
    color: rgb(40, 47, 143);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

body{
    text-align: justify;
    background-color: white;
    font-size: 1.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h5{
    font-size: 2em;
    color: rgb(85, 92, 49);
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

span{
    
    font-style: italic;
    
}